.heroImage{
    height: 100vh;
    width: 40vw; 
    overflow-y: auto;   
}
.heroImage::-webkit-scrollbar{display:none}


.image{
    width: 100%;
    background-size: cover;
}

.img-Overlay{
    position: absolute;
    top:1px;
    z-index: 0;
    background: #ffc91828;
    height: 100vh;
    width: 39.5vw;     
}

@media only screen and (max-width: 600px) {
    .heroImage{
        height: 50vh;
        width: 100vw; 
        margin-top: 30px;
    }

    .img-Overlay{
        position: absolute;
        top:1px;
        z-index: 0;
        background: #ffc91828;
        /* background: rgba(255, 0, 0, 0.356); */
        height: 50vh;
        margin-top: 30px;
        width: 100vw;     
    }


  }