.homeSocials{
    background: #373B40;
    height: 100vh;
    width: 10vw;
    text-align: center;
    font-size: 30px;
    min-height: calc(100vh - 4rem);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.homesocial{
    margin-bottom: 10px;
}

.socials{
    color:#ffc9188f;
    cursor: pointer;
    margin-bottom: 20px;
}

.socials:hover{
    color:#ffca18;
}